#header .navbar {
    min-height: 80px;
    margin-bottom: 0;
    border-radius: 0;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.st-navbar {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.st-navbar .navbar-header {
    margin-top: 25px;
}
.st-navbar ul {
    margin-top: 15px;
}
.st-navbar ul li a {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    margin: 14px;
}
