.player {
  margin-bottom: 10px;
  background-color: #f5f5f5;
  position: relative;
}
.player-picture {
  padding: 0 !important;
}
.player-picture img {
  width: 160px;
  height: 196px;
}
.player-info {
  height: 196px;
}
.player-info-icon {
  bottom: 10px;
  right: 10px;
  font-size: 32px;
  position: absolute;
}
